@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    /*background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    */
    font-family: 'Roboto', sans-serif;
}

button.swal2-confirm{
    background-color: #0e7490 !important;
}



